@import "./fonts.css";
@import "./scrollbar.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  display: flex;
  // max-height: 100%;
  max-width: 100%;
  // height: 100%;
  width: 100%;
  overflow: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: 0 auto;
}

#app {
  @apply font-noto bg-light text-gray-700 dark:bg-dark dark:text-white ;
  background-image:  url('@/assets/grey-wicker-bars.png');
  display: flex;
  flex-direction: column;

}

#app,
.fullscreen {
  @apply w-full h-full;
}
