::-webkit-scrollbar {
  width: 6px;
  height: 10px;

  @media screen and (max-width: 576px) {
    display: none;
  }
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #4c4c6a;
  border-radius: 3px;
  border: 1px solid transparent;
  background-clip: padding-box;

  &:hover {
    border: 0;
  }
}
